/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #f4f6f8;
    color: #333;
}

/* HEADER */
.header {
    background: linear-gradient(135deg, #1F7A83, #17646c);
    padding: 30px;
    text-align: center;
    color: white;
}

.header img {
    width: 220px;
    margin-bottom: 15px;
}

.header h1 {
    font-size: 28px;
}

/* CONTAINER */
.container {
    max-width: 1100px;
    margin: 40px auto;
    background: white;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

/* TITLES */
h2 {
    margin-bottom: 20px;
    color: #1F7A83;
}

/* INPUTS */
input, select, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

input:focus, select:focus, textarea:focus {
    border-color: #1F7A83;
    outline: none;
}

/* BUTTON */
button {
    background: #1F7A83;
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #17646c;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    font-size: 14px;
}

th {
    background: #1F7A83;
    color: white;
    padding: 12px;
    text-align: left;
}

td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

tr:hover {
    background: #f9fbfc;
}

/* DASHBOARD */
.stats {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.stat-card {
    flex: 1;
    min-width: 150px;
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.stat-card h3 {
    font-size: 22px;
    color: #1F7A83;
}

.stat-card p {
    font-size: 13px;
    color: #777;
}
.modal {
    display: flex;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    width: 90%;
    max-width: 500px;
    padding: 30px;
    border-radius: 12px;
    position: relative;
    text-align: center;
    animation: aparecer 0.3s ease;
}

.close-btn {
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
    color: #999;
}

.close-btn:hover {
    color: #000;
}

@keyframes aparecer {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}