<!DOCTYPE html>
<html>
<head>
    <title>Solicitud de Novedades</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
{% with messages = get_flashed_messages() %}
  {% if "modal_bienvenida" in messages %}
  
  <div id="alertModal" class="modal">
      <div class="modal-content">
          <span class="close-btn" onclick="cerrarModal()">&times;</span>
          <h2>Información Importante</h2>
          <p>
              Recuerde que si su solicitud es urgente,
              puede hacer seguimiento por la línea directa
              al móvil <strong>300 658 1608</strong>.
          </p>
          <button onclick="cerrarModal()">Entendido</button>
      </div>
  </div>

  {% endif %}
{% endwith %}
<div class="header">
    <img src="{{ url_for('static', filename='Logo.png') }}" alt="Logo VivaAP">

    <h1 style="margin:0;">
        Portal de Solicitudes VivaAP
    </h1>

    <p style="margin-top:8px;">
        {% if current_user.is_authenticated %}
    	    Bienvenido, {{ current_user.nombre_completo }}
	{% endif %}
    </p>
    <div style="margin-top:15px;">
    	<a href="{{ url_for('logout') }}">
            <button type="button">Cerrar sesión</button>
    	</a>
    </div>
</div>
<div class="container">

    {% if current_user.is_authenticated and current_user.rol in ["interno", "admin"] %}
        <div style="text-align:right; margin-bottom:15px;">
            <a href="/crear_usuario">
                <button type="button">➕ Crear Usuario</button>
	    </a>
        </div>
    {% endif %}

    <h2> ¿Que Desea Radicar?</h2>


    <form method="POST" action="/crear_solicitud" enctype="multipart/form-data">
        <label>Agencia Intermediaria:</label>
        <input type="text" name="razon_social" required>

        <label>Nombre del Solicitante:</label>
        <input type="text" name="nombre_remitente" required>

        <label>Correo:</label>
        <input type="email" name="correo_contacto">

        <label>Teléfono:</label>
        <input type="text" name="telefono_contacto">

        <label>Póliza:</label>
        <input type="text" name="poliza">

        <label>Tipo de Solicitud:</label>
        <select name="tipo_solicitud" required>
    		<option value="Ingreso">Ingreso</option>
    		<option value="Retiro">Retiro</option>
    		<option value="Cancelación">Cancelación</option>
    		<option value="Renovación">Renovación</option>
    		<option value="Reclamación">Reclamación</option>
    		<option value="Modificación">Modificación</option>
    		<option value="Copia de documento">Copia de documento</option>
    		<option value="Otro">Otro</option>
	</select>

	<label>Asignar a:</label>
	<select name="asignado_a" required>
    		<option value="">Seleccione un empleado</option>
    		{% for e in empleados %}
        	    <option value="{{ e.id }}">{{ e.nombre_completo }}</option>
    		{% endfor %}
	</select>


        <label>Descripción:</label>
        <textarea name="descripcion"></textarea>

        <label>Adjuntar archivos:</label>
	<input type="file" name="archivos" multiple
       		accept=".pdf,.jpg,.jpeg,.png,.doc,.docx,.xls,.xlsx">

        <button type="submit">Enviar Solicitud</button>
    </form>

    <hr>
    <div class="stats">

        <div class="stat-card">
    	   <h3>{{ total }}</h3>
    	   <p>Total</p>
	</div>
    	<div class="stat-card">
    	   <h3>{{ pendientes }}</h3>
    	   <p>Pendientes</p>
	</div>

	<div class="stat-card">
    	   <h3>{{ proceso }}</h3>
    	   <p>En proceso</p>
	</div>

	<div class="stat-card">
    	   <h3>{{ resueltos }}</h3>
    	   <p>Resueltos</p>
	</div>

 	<div class="stat-card">
    	   <h3>{{ cerrados }}</h3>
    	   <p>Cerrados</p>
	</div>

    </div>
    <h2> Casos Registrados</h2>
    {% if current_user.is_authenticated and current_user.rol in ["interno", "admin"] %}
    <form method="GET" style="margin-bottom:20px;">

       <label>Estado:</label>
       <select name="estado">
           <option value="">Todos</option>
           <option value="Recibido">Recibido</option>
           <option value="Pendiente">⚪ Pendiente</option>
           <option value="En proceso">🟡 En proceso</option>
           <option value="Resuelto">🟢 Resuelto</option>
           <option value="Cerrado">🔴 Cerrado</option>
       </select>

       <label>Usuario:</label>
       <select name="usuario">
           <option value="">Todos</option>
           {% for e in empleados %}
              <option value="{{ e.id }}">{{ e.nombre_completo }}</option>
           {% endfor %}
       </select>

       <button type="submit">Filtrar</button>

    </form>
    {% endif %}


    <table>
        <tr>
            <th>Radicado</th>
            <th>Empresa</th>
            <th>Solicitante</th>
            <th>Tipo</th>
	    <th>Asignado a</th>
            <th>Estado</th>
        </tr>

        {% for s in solicitudes %}
        <tr>
            <td>{{ s.radicado }}</td>
            <td>{{ s.razon_social }}</td>
            <td>{{ s.nombre_remitente }}</td>
            <td>{{ s.tipo_solicitud }}</td>
	    <td>{{ s.asignado_nombre }}</td>
            <td>

    		<!-- Estado actual -->
    		{% if s.estado == 'Pendiente' %}
        	    <span class="badge badge-pendiente">Pendiente</span>

    		{% elif s.estado == 'En proceso' %}
        	    <span class="badge badge-proceso">En proceso</span>

    		{% elif s.estado == 'Resuelto' %}
        	    <span class="badge badge-resuelto">Resuelto</span>

    		{% elif s.estado == 'Cerrado' %}
        	    <span class="badge badge-cerrado">Cerrado</span>

    		{% else %}
        	    <span class="badge">Recibido</span>
    		{% endif %}

    		<!-- OPCIONES SOLO PARA INTERNOS -->
    		{% if current_user.is_authenticated and current_user.rol in ["interno", "admin"] %}
        	    <div style="margin-top:6px; font-size:12px;">
            		<a href="{{ url_for('estado', id=s.id, estado='Pendiente') }}">⚪ Pendiente</a><br>
            		<a href="{{ url_for('estado', id=s.id, estado='En proceso') }}">🟡 En proceso</a><br>
            		<a href="{{ url_for('estado', id=s.id, estado='Resuelto') }}">🟢 Resuelto</a><br>
            		<a href="{{ url_for('estado', id=s.id, estado='Cerrado') }}">🔴 Cerrar</a>
        	    </div>
    		{% endif %}

	    </td>
        {% endfor %}
    </table>

</div>
<script>
function cerrarModal() {
    document.getElementById("alertModal").style.display = "none";
}
</script>

</body>
</html>
