<!DOCTYPE html>
<html>
<head>
    <title>Solicitud de Novedades</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

{% set messages = get_flashed_messages() %}

{% if "modal_bienvenida" in messages %}
<div id="alertModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" onclick="cerrarModal()">&times;</span>
        <h2>Información Importante</h2>
        <p>
            Recuerde que si su solicitud es urgente,
            puede hacer seguimiento por la línea directa
            al móvil <strong>300 658 1608</strong>.
        </p>
        <button onclick="cerrarModal()">Entendido</button>
    </div>
</div>
{% endif %}
<div class="header">
    <img src="{{ url_for('static', filename='Logo.png') }}" alt="Logo VivaAP">

    <h1 style="margin:0;">
        Portal de Solicitudes VivaAP
    </h1>

    <p style="margin-top:8px;">
        {% if current_user.is_authenticated %}
    	    Bienvenido, {{ current_user.nombre_completo }}
	{% endif %}
    </p>
    <div style="margin-top:15px;">
    	<a href="{{ url_for('logout') }}">
            <button type="button">Cerrar sesión</button>
    	</a>
    </div>
</div>
<div class="container">

{% if messages %}
  {% for message in messages %}
    {% if message != "modal_bienvenida" %}
      <div class="flash-success">
        {{ message }}
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
    {% if current_user.is_authenticated and current_user.rol in ["interno", "admin"] %}
        <div style="text-align:right; margin-bottom:15px;">
            <a href="/crear_usuario">
                <button type="button">➕ Crear Usuario</button>
	    </a>
        </div>
    {% endif %}

    <h2> ¿Que Desea Radicar?</h2>


    <form method="POST" action="/crear_solicitud" enctype="multipart/form-data">
        <label>Agencia Intermediaria:</label>
        <input type="text" name="razon_social" required>

        <label>Nombre del Solicitante:</label>
        <input type="text" name="nombre_remitente" required>

        <label>Correo:</label>
        <input type="email" name="correo_contacto">

        <label>Teléfono:</label>
        <input type="text" name="telefono_contacto">

        <label>Póliza:</label>
        <input type="text" name="poliza">

        <label>Tipo de Solicitud:</label>
        <select name="tipo_solicitud" required>
    		<option value="Ingreso">Ingreso</option>
    		<option value="Retiro">Retiro</option>
    		<option value="Cancelación">Cancelación</option>
    		<option value="Renovación">Renovación</option>
    		<option value="Reclamación">Reclamación</option>
    		<option value="Modificación">Modificación</option>
    		<option value="Copia de documento">Copia de documento</option>
    		<option value="Otro">Otro</option>
	</select>

	<label>Asignar a:</label>
	<select name="asignado_a" required>
    		<option value="">Seleccione un empleado</option>
    		{% for e in empleados %}
        	    <option value="{{ e.id }}">{{ e.nombre_completo }}</option>
    		{% endfor %}
	</select>


        <label>Descripción:</label>
        <textarea name="descripcion"></textarea>

        <label>Adjuntar archivos:</label>
	<input type="file" name="archivos" multiple
       		accept=".pdf,.jpg,.jpeg,.png,.doc,.docx,.xls,.xlsx">

        <button type="submit">Enviar Solicitud</button>
    </form>

    <hr>
    <div class="stats">

        <div class="stat-card">
    	   <h3>{{ total }}</h3>
    	   <p>Total</p>
	</div>
    	<div class="stat-card">
    	   <h3>{{ pendientes }}</h3>
    	   <p>Pendientes</p>
	</div>

	<div class="stat-card">
    	   <h3>{{ proceso }}</h3>
    	   <p>En proceso</p>
	</div>

	<div class="stat-card">
    	   <h3>{{ resueltos }}</h3>
    	   <p>Resueltos</p>
	</div>

 	<div class="stat-card">
    	   <h3>{{ cerrados }}</h3>
    	   <p>Cerrados</p>
	</div>

    </div>
    <h2> Casos Registrados</h2>
    <form method="GET" style="margin-bottom:20px;">

  	<!-- 🔵 FILA 1: FILTROS -->
      <div style="display:flex; gap:10px; align-items:center; overflow-x:auto; white-space:nowrap; margin-bottom:10px;">


      <input type="date" name="fecha_inicio"
        value="{{ request.args.get('fecha_inicio','') }}"
        style="height:42px; padding:10px; border-radius:8px; border:1px solid #ccc;">

      <input type="date" name="fecha_fin"
        value="{{ request.args.get('fecha_fin','') }}"
        style="height:42px; padding:10px; border-radius:8px; border:1px solid #ccc;">

      <input type="text" name="q"
        placeholder="🔍 Radicado, empresa o solicitante"
        value="{{ request.args.get('q','') }}"
        style="height:42px; padding:10px; border-radius:8px; border:1px solid #ccc;">

      <select name="estado" style="height:42px; padding:10px; border-radius:8px;">
        <option value="">Estado</option>
        <option value="Recibido" {% if request.args.get('estado') == 'Recibido' %}selected{% endif %}>Recibido</option>
        <option value="Pendiente" {% if request.args.get('estado') == 'Pendiente' %}selected{% endif %}>Pendiente</option>
        <option value="En proceso" {% if request.args.get('estado') == 'En proceso' %}selected{% endif %}>En proceso</option>
        <option value="Resuelto" {% if request.args.get('estado') == 'Resuelto' %}selected{% endif %}>Resuelto</option>
        <option value="Cerrado" {% if request.args.get('estado') == 'Cerrado' %}selected{% endif %}>Cerrado</option>
    </select>

      <select name="estado" style="height:42px; padding:10px; border-radius:8px;">
        <option value="">Asignado a</option>
        {% for e in empleados %}
          <option value="{{ e.id }}"
            {% if request.args.get('usuario') == e.id|string %}selected{% endif %}>
            {{ e.nombre_completo }}
          </option>
        {% endfor %}
      </select>

    </div>

    <!-- 🟢 FILA 2: BOTONES CENTRADOS -->
    <div style=" display:flex; justify-content:center; gap:15px; flex-wrap:wrap;">

      <button type="submit"
        style="padding:10px 20px; border-radius:8px;">
        🔍 Buscar
      </button>

      <a href="{{ url_for('exportar_excel',
        estado=request.args.get('estado'),
        usuario=request.args.get('usuario'),
        q=request.args.get('q'),
        fecha_inicio=request.args.get('fecha_inicio'),
        fecha_fin=request.args.get('fecha_fin')
      ) }}"
      style="
        padding:10px 20px;
        background:#7f8c8d;
        color:white;
        border-radius:8px;
        text-decoration:none;
        display:inline-flex;
	align-items:center;
	justify-content:center;
      ">
        📤 Exportar
      </a>

      <a href="{{ url_for('panel') }}"
      style="
        padding:10px 20px;
        background:#7f8c8d;
        color:white;
        border-radius:8px;
        text-decoration:none;
        display:flex;
        align-items:center;
      ">
        Limpiar
      </a>

    </div>

  </form>
    
    <table>
        <tr>
            <th>Radicado</th>
            <th>Empresa</th>
            <th>Solicitante</th>
            <th>Tipo</th>
	    <th>Asignado a</th>
            <th>Estado</th>
	    {% if current_user.rol == "admin" %}
       	    <th>Eliminar</th>
            {% endif %}
        </tr>

        {% for s in solicitudes %}
        <tr>
            <td>
    		<a href="{{ url_for('ver_solicitud', id=s.id) }}">
        	    {{ s.radicado }}
    		</a>
	    </td>
            <td>{{ s.razon_social }}</td>
            <td>{{ s.nombre_remitente }}</td>
            <td>{{ s.tipo_solicitud }}</td>
	    <td>

	    {% if current_user.rol == "admin" %}
    		<select onchange="cambiarAsignado(this, {{ s.id }})">
        	    <option value="">Sin asignar</option>
        	    {% for e in empleados %}
            		<option value="{{ e.id }}"
                	   {% if s.asignado_a == e.id %}selected{% endif %}>
                	    {{ e.nombre_completo }}
            		</option>
        	    {% endfor %}
    		</select>
	    {% else %}
    		{{ s.asignado_nombre }}
	    {% endif %}

	    </td>
            <td>

    		<!-- Estado actual -->
    		{% if s.estado == 'Pendiente' %}
        	    <span class="badge badge-pendiente">Pendiente</span>

    		{% elif s.estado == 'En proceso' %}
        	    <span class="badge badge-proceso">En proceso</span>

    		{% elif s.estado == 'Resuelto' %}
        	    <span class="badge badge-resuelto">Resuelto</span>

    		{% elif s.estado == 'Cerrado' %}
        	    <span class="badge badge-cerrado">Cerrado</span>

    		{% else %}
        	    <span class="badge">Recibido</span>
    		{% endif %}

    		<!-- OPCIONES SOLO PARA INTERNOS -->
    		{% if current_user.is_authenticated and current_user.rol in ["interno", "admin"] %}
        	    <div style="margin-top:6px;">
    			<select onchange="cambiarEstado(this, {{ s.id }})" style="font-size:12px;">
        		    <option value="">Cambiar estado</option>
        		    <option value="Pendiente">⚪ Pendiente</option>
        		    <option value="En proceso">🟡 En proceso</option>
        		    <option value="Resuelto">🟢 Resuelto</option>
        		    <option value="Cerrado">🔴 Cerrar</option>
    			</select>
		    </div>
    		{% endif %}

	    </td>
	    {% if current_user.rol == "admin" %}
    	    <td>
            	<a href="{{ url_for('eliminar_solicitud', id=s.id) }}"
           	    onclick="return confirm('¿Seguro que desea eliminar este radicado?')">
            		<button style="background:#c0392b;">Eliminar</button>
        	</a>
    	    </td>
    	    {% endif %}

	</tr>

        {% endfor %}
    </table>
    <div style="margin-top:20px; text-align:center;">

    {% if page > 1 %}
        <a href="{{ url_for('panel', page=page-1, estado=request.args.get('estado'), q=request.args.get('q'), usuario=request.args.get('usuario')) }}">
            <button>⬅ Anterior</button>
        </a>
    {% endif %}

    {% if tiene_siguiente %}
        <a href="{{ url_for('panel', page=page+1, estado=request.args.get('estado'), q=request.args.get('q'), usuario=request.args.get('usuario')) }}">
            <button>Siguiente ➡</button>
        </a>
    {% endif %}
</div>
<script>
function cerrarModal() {
    document.getElementById("alertModal").style.display = "none";
}
</script>
<script>
function cambiarEstado(select, id) {
    const estado = select.value;
    if (estado) {
        window.location.href = "/estado/" + id + "/" + estado;
    }
}
</script>
<script>
function cambiarAsignado(select, id) {
    const usuario_id = select.value;

    if (usuario_id) {
        window.location.href = "/reasignar/" + id + "/" + usuario_id;
    }
}
</script>
</body>
</html>
